services:
  notebook:
    build:
      context: .
    shm_size: '1g' # increase shared memory to 1GB
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    ports:
      - "8888:8888"
    tty: true
    volumes:
      - "./content:/content:rw"
      - "./.cache:/home/app/.cache:rw"
